body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

main {
    margin: auto;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    width: min-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    width: 213px;
    height: auto;
    border-radius: 10px;
}

#title {
    font-weight: 700;
    font-size: 1.1rem;
    margin: 15px auto 0;
}

#info {
    color: hsl(216, 15%, 42%);
    font-weight: 400;
    font-size: 0.875rem;
}

@media (min-width: 1400px) {
    img {
        width: 280px;
    }

    #title {
        font-size: 1.4rem;
    }

    #info {
        font-size: 1rem;
    }
}